<br>
<div class="row justify-content-md-center">
	<div class="col-md-3">
		<div class="stat_wrap red">
			<div class="pull-left">
					<i class="fa fa-user-o" aria-hidden="true"></i>						
			</div>
			<div class="pull-left">
				<h5>{{empCount}}</h5>
				<span>Total Employees</span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="stat_wrap blue">
			<div class="pull-left">
				<i class="fa fa-user-o" aria-hidden="true"></i>						
			</div>
			<div class="pull-left">
				<h5>{{empCount}}</h5>	
				<span>Professions</span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
			<div class="stat_wrap green">
				<div class="pull-left">
					<i class="fa fa-user-o" aria-hidden="true"></i>						
				</div>
				<div class="pull-left">
					<h5>{{studCount}}</h5>	
					<span>Students</span>
				</div>				
			</div>
		</div>
</div>

<!-- <button (click)="addToast()">Add Toast</button> -->